<body>
  <div class="about-container">
    <h2 class="aboutHead">Basic Calculator</h2>
    <ul>
      <li>Addition is done with the <b>+</b> operator</li>
      <li>Subtraction is done with the <b>-</b> operator</li>
      <li>Division is done with the <b>รท</b> operator</li>
      <li>Multiplication is done with the <b>x</b> operator</li>
      <li>Clearing is done with the <b>AC</b> operator</li>
      <li>Deleting is done with the <b>DEL</b> operator</li>
      <li>Decimals are used with the <b>.</b> operator</li>
    </ul>
    <h2 class="aboutHead">Advanced Calculator</h2>
    <ul>
      <li>Remainder is done with the <b>r</b> operator</li>
      <li>To define the order of operations use the brackets: <b>( )</b></li>
      <li>Exponents is done with the <b>^</b> operator</li>
    </ul>
    <h2 class="aboutHead">Tax Calculator</h2>
    <ul>
      <li>Choose your province enter the amount you want tax calculated on</li>
    </ul>
    <h2 class="aboutHead">Currency Exchange</h2>
    <ul>
      <li>
        Choose the type of Currency you have on the top and which you need in
        the bottom
      </li>
    </ul>
  </div>
  <footer class="bottom">&copy;2021 Agile Development Team</footer>
</body>
